* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark: #250680;
    --light: #0CC2ED;
    --text: #0040E0;
    --hover: #F0E90C;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark);
    color: var(--text);
    width: 100vw;
}
header h1{
    background-color: var(--light);
}


nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    color: var(--light);
    list-style: none;
}

nav a {
    color: var(---light);
    font-weight: bold;
    text-underline-position: below;
}
/* buffer header area */

.buffer {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/spikes.jpg);
    padding: 5%;
}

.buffer h2 {
    position: absolute;
    bottom: 20px;
    right: 5%;
    color: var(--text);
    background-color: var(--light);
    font-size: 175%;
    padding: 5px 10px;
}
/* page .content */

.info{
    display: flex;
    flex-wrap: wrap;
    color: var(--text);
    border-left: solid var(--text);
    height: 25%;
    padding: 50px;
    margin-bottom: 20px;
}
/* //side titles// */
  .areatitle{
      font-size:30px;
    margin-right: -20px;
    padding: 20px;
    float: left;
    width: 20%;
    height: 200%;
    color: var(--light);
    

}
  

.content{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.content img{
    width: 100%;
    height: 100%;
    color: var(--text);
  

}
.box {
    padding: 50px;
    margin-bottom: 20px;

}
/* large work box */
.surf{
    display: flex;
    flex-flow: column wrap;
    height: auto;
    width: auto;
    row-gap: 2%;
    justify-content: flex-end;
    margin: 15px;
    flex-grow: 1;
    padding: 5%;
}


.surf div{
    background-color: var(--light);
    position: absolute;
    
}
.surf img{
    outline: 5px solid var(--light);
 
}

/* individial boxes */


.text{
    position: absolute;
    background-color: var(--light);
    color: var(--text);
}
/* .card div{
    background-color: var(--light);
    position: absolute;
} */
.reach {
    flex-wrap: wrap;
    height: 25%;
    padding-top: 50px;
    margin-bottom: 20px;
}
.reach ul li{
    list-style: none;
    display: inline;
    justify-content: space-between;
    padding: 3%;
    
}
@media screen and (max-width: 880px) {

    .header {
        text-align: center;
        height: 110px;
    }

    header h1 {
        position: relative;
        padding: 5px 10px;
    }

    nav {
        position: relative;
        right: auto;
    }

    nav a {
        margin: 3px;
        padding: 1px 6px;
        color: var(--light-blue);
    }
  
    .buffer h2 {
        font-size: 150%;
        bottom: 5px;
        right: 2%;
    }
 
    .box {
        display: block;
    }

    .areatitle {
        text-align: center;
    }

    .content {
        border-left: none;
        border-top: 3px solid var(--dark-grey);
        padding: 30px;
    }
    .card div {
        font-size: 50%;
    }

    .info a {
        margin: 5px;
    }

    
}