* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root{
    --dark: #250680;
   --light: #0CC2ED;
   --text: #0040E0;
   --hover: #F0E90C;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
h2{
 color: var(--text);
 border-right:  2px solid var(--text);
 
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--light);
    color: var(--text);
  }
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: var(--text);
    font-weight: bold;
    text-decoration: none;
  }

  .areatitle{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 200px;
    text-justify: right;
}
  
.about {
    height: 25%;
    padding: 50px;
    margin-bottom: 20px;
}

p{
    position: relative;
    left: -10px;
}
.box {

    height: 25%;
    padding: 50px;
    margin-bottom: 20px;
    border: dashed var(--light);
}
.box h2{
     height: 300px;   
}

.box figure{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--heliotrope);
    outline: 2px dashed var(--light);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}
.reach {
    height: 25%;
    padding: 50px;
    margin-bottom: 20px;
}
